<h1>Please Log In</h1>

<%= form_tag "/sessions" do %>

<input type="text" name="email" placeholder="email">
<input type="text" name="password" placeholder="password">
<button type="submit">Submit</button>

<% end %>
<br/>
<br/>
<a href="/users/new"> Sign Up </a>